extends base.pug
block style
  style
    include ../static/CSS/payment.css
block content
  section.Payment
    .payment
      h1.h1
        span.span
        | Payment
        span.span
      .container
        .row
          .col-md-4.order-md-2.mb-4
            h4.d-flex.justify-content-between.align-items-center.mb-3
              span.text-muted Your cart
              span.badge.badge-secondary.badge-pill 1
            ul.list-group.mb-3
              li.list-group-item.d-flex.justify-content-between.lh-condensed.productCart
                div
                  h6.my-0 #{ProductName}
                  small.text-muted #{BriefDescription}
                span.text-muted #{ProductPrice}
              li.list-group-item.d-flex.justify-content-between.bg-light
                .text-success
                  h6.my-0 Promo code
                  small #{PromoName}
                span.text-success #{PromoPrice}
              li.list-group-item.d-flex.justify-content-between
                span Total (USD)
                strong #{TotalPrice}
          .col-md-8.order-md-1
            form.needs-validation(action='/Payment' method='POST' onsubmit='return validation()')
              h4.mb-3 Payment Mode
              .d-block.my-3
                .custom-control.custom-radio
                  input#credit.custom-control-input(name='paymentMethod' type='radio' checked required)
                  label.custom-control-label(for='credit') Credit card
                .custom-control.custom-radio
                  input#debit.custom-control-input(name='paymentMethod' type='radio' required)
                  label.custom-control-label(for='debit') Debit card
              .row
                .col-md-6.mb-3
                  label(for='cc-name') Name on card
                  input#cc-name.form-control(type='text' name = 'name' placeholder='Jonny Singh' required)
                  small.text-muted Full name as displayed on card
                  .invalid-feedback
                    | Name on card is required
                .col-md-6.mb-3
                  label(for='cc-number') Card number
                  input#cc-number.form-control(type='text' name = 'number' placeholder='xxxx-xxxx-xxxx-xxxx' required)
                  small.text-muted Card Number
                  .invalid-feedback
                    | Card number is required
              .row
                .col-md-3.mb-3
                  label(for='cc-expiration') Expiration
                  input#cc-expiration.form-control(type='text' name = 'expiry' placeholder='01/23' required)
                  .invalid-feedback
                    | Expiration date required
                .col-md-3.mb-3
                  label(for='cc-expiration') CVV
                  input#cc-cvv.form-control(type='text' name = 'cvv' placeholder='123' required)
                  .invalid-feedback
                    | Security code required
              hr.mb-4
              button.btn.btn-primary.btn-lg.btn-block(type='submit') Continue to checkout
block scripts
  script(src='../static/JS/payment.js')